<div class="row gx-5">
    <div class="card">
        <div class="row g-0">
            {% if include.image-location == "left" %}
                <div class="col-md-6">
                    {% include mokublad-entry-image.html 
                        image-name = include.image-name 
                        artist  = include.artist 
                        title   = include.title
                    %}
                </div>
                <div class="col-md-6">
                    {% include mokublad-entry-text.html 
                        artist  = include.artist 
                        title   = include.title
                        url     = include.url
                        bio     = include.bio
                    %}
                </div>
           {% else %}
            <div class="col-md-6 order-md-last">
            {% include mokublad-entry-image.html 
                image-name = include.image-name 
                artist  = include.artist 
                title   = include.title
            %}
        </div>
                <div class="col-md-6 order-md-first">
                    {% include mokublad-entry-text.html 
                        artist  = include.artist 
                        title   = include.title
                        url     = include.url
                        bio     = include.bio
                    %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<hr class="d-md-none">