<div class="expo2024">
    <div class="text-left pt-3">
        <h4>expo</h4>
        <div>Museum Plantin-Moretus _ <strong>Antwerpen</strong> _ 28/09 - 28/10 </div>
        <div>Museum Kunst & Geschiedenis _ <strong>Brussel</strong> _ 29/10 - 05/01</div>
    </div>
    <div class="text-left pt-3">
        <h4>demonstration</h4>
        <div>06/10 _ Museum Plantin-Moretus _ <strong>Antwerpen</strong> _ 13u30u - 15u30</div>
        <div>27/10 _ Museum Plantin-Moretus _ <strong>Antwerpen</strong> _ 13u30u - 15u30</div>
        <div>09/11 _ Museum Kunst&Geschiedenis _ <strong>Brussel</strong></div>
    </div>
</div>