<div class="expo2024">
    <div class="text-right pt-3">
        <h4>expo</h4>
        <div style="--bs-text-opacity: .5;">De Krook _ <strong>Gent</strong> _ 01/02 - 08/03</div>
        <div style="--bs-text-opacity: .5;">De Biekorf _ <strong>Brugge</strong> _ 13/03 - 08/04</div>
        <div style="--bs-text-opacity: .5;">Bokrijk _ <strong>Genk</strong> _ 09/04 - 26/09</div>
        <div>Museum Plantin-Moretus _ <strong>Antwerpen</strong> _ 28/09 - 28/10 </div>
        <div>Museum Kunst & Geschiedenis _ <strong>Brussel</strong> _ 29/10 - 05/01</div>
    </div>
    <div class="text-left pt-3">
        <h4>demonstration</h4>
        <div style="--bs-text-opacity: .5;">23/02 _ De Krook _ <strong>Gent</strong> _ 16u45 - 18u15</div>
        <div style="--bs-text-opacity: .5;">13/03 _ De Biekorf _ <strong>Brugge</strong> _ 15u - 17u</div>
        <div>06/10 _ Museum Plantin-Moretus _ <strong>Antwerpen</strong> _ 13u30u - 15u30</div>
        <div>27/10 _ Museum Plantin-Moretus _ <strong>Antwerpen</strong> _ 13u30u - 15u30</div>
        <div>09/11 _ Museum Kunst&Geschiedenis _ <strong>Brussel</strong></div>
    </div>
    <div class="text-right pt-3">
        <h4 style="--bs-text-opacity: .5;">workshop</h4>
        <div style="--bs-text-opacity: .5;">Tips van de meester 1 _ Bokrijk _ <strong>Genk</strong> _ 18/05, 14u - 17u</div>
        <div style="--bs-text-opacity: .5;">Tips van de meester 2 _ Bokrijk _ <strong>Genk</strong> _ 01/06, 14u - 17u</div>
    </div>
    <div class="text-left pt-3">
        <h4 style="--bs-text-opacity: .5;">talk</h4>
        <div style="--bs-text-opacity: .5;">13/03 _ De Biekorf _ <strong>Brugge</strong> _ 19u30 - 21u (dutch)</div>
        <div style="--bs-text-opacity: .5;">18/05 _ Bokrijk _ <strong>Genk</strong> _ 10u30 - 12u30u (dutch)</div>
    </div>
</div>