---
title: Blog
layout: default
---

<div class="col-lg-9 mx-auto">

  <div class="page-content serif-font">
    <div class="row">
      {% for post in site.posts %}
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <a href="{{ post.url }}"><h5 class="card-title">{{ post.title }}</h5></a>
            <div class="small"> <small>
              <span class="post-date">{{ post.author | capitalize }}, <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time>
              </span>           
          </small></div>
            <p class="card-text">{{ post.content | truncatewords: 20 }}</p>
            <a href="{{ post.url }}">Read more</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>