---
layout: default
---
<div class="col-lg-12 mx-auto">


    <div class="row map-border my-5">
        <div class="col-12 col-md-5 col-lg-4 order-2 order-md-1 px-md-0">
            <!-- search on top -->
            <div class="px-2">
                <div class="input-group shadow-sm ">
                    <input class="form-control border-0" type="text" id="mokumapfinder" onkeyup="findEntry();"
                        placeholder="Type a name, city or country">
                    <div class="input-group-append">
                        <button class="btn btn-secondary bg-white text-secondary border-0 py-0"
                            type="submit">Find</button>
                    </div>
                </div>
                <p id="result" class="small text-center mt-3 mb-0"></p>
            </div>
            <!-- list of shops -->
            <div class="shop-container d-flex flex-column flex-nowrap align-content-start px-md-0">
                {%- for entry in site.mokumap_entries -%}
                {%- assign map_type = site.data.types | where: "key", entry.type | first -%}
                <div class="sItem flex-grow-0 px-0 py-2 p-md-2" data-name="{{ entry.name }}"
                    data-country="{{ entry.country }}" data-city="{{ entry.city }}"
                    data-lat="{{ entry.lat_lon | split: ',' | first | strip }}"
                    data-lon="{{ entry.lat_lon | split: ',' | last | strip }}">
                    <div class="sItem--offline">
                        <b>{{ entry.name }}</b>
                        <p class="small">
                            <div>
                                {{ entry.city }}, {{ entry.country }} - 
                                <a href="{{entry.url}}" class="text-decoration-none">
                                    <b>Info</b>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                                        class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5">
                                        </path>
                                        <path fill-rule="evenodd"
                                            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                            <span class="badge {{map_type.badge_style}}">{{map_type.name}}</span>
                        </p>
                    </div>
                    <hr>
                </div>
                {%- endfor -%}
            </div>
        </div>
        <!-- MAP -->
        <div class="map-container col-12 col-md-7 col-lg-8 order-1 order-md-2 px-0">
            <div id="mokumap"></div>
        </div>
    </div>

    {% include mokumap-js.html %}